# Pandas: DataFrames2 - Conditional Selection

In [1]:
import numpy as np
import pandas as pd

In [2]:
from numpy.random import randn

In [3]:
np.random.seed(101)

In [4]:
#df = pd.DataFrame(data, [index], [column])
df = pd.DataFrame(randn(5,4), ['A', 'B', 'C', 'D', 'E'], ['W', 'X', 'Y', 'Z'])
df

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [14]:
bool_df = df > 1
df[bool_df]
# Values return if True and Nan if false

         W         X         Y   Z
A  2.70685       NaN       NaN NaN
B      NaN       NaN       NaN NaN
C      NaN       NaN       NaN NaN
D      NaN       NaN       NaN NaN
E      NaN  1.978757  2.605967 NaN

In [15]:
# Or
df[df > 1]

         W         X         Y   Z
A  2.70685       NaN       NaN NaN
B      NaN       NaN       NaN NaN
C      NaN       NaN       NaN NaN
D      NaN       NaN       NaN NaN
E      NaN  1.978757  2.605967 NaN