# Missing Data

In [1]:
import numpy as np
import pandas as pd

In [2]:
#A,B,C as cols and np.nan as missing values
d = {'A':[1,2, np.nan], 'B':[5, np.nan, np.nan], 'C':[1,2,3]}
d

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [3]:
df = pd.DataFrame(d)

In [4]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [7]:
#axis=0 operations in rows and axis=1 in cols
# Drop rows or cols with null values
#Return cols without null values
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [9]:
#Return cols without null values
df.dropna(axis=0)

     A    B  C
0  1.0  5.0  1

In [11]:
# Or
df.dropna()

     A    B  C
0  1.0  5.0  1

In [14]:
#Threshold
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [15]:
#Fill missing value or na
df.fillna(value='Missing Value')

               A              B  C
0              1              5  1
1              2  Missing Value  2
2  Missing Value  Missing Value  3

In [16]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [18]:
#Fill the missing value with the mean of Col A
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64