# Pandas: Series
> Series can be index by a label

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
list1 = ['a', 'b', 'c']
list2 = [10, 20, 30]
arr = np.array(list2)
d = {'a': 10, 'b': 20, 'c': 30}

In [9]:
#Data and index
pd.Series(data=list2)

0    10
1    20
2    30
dtype: int64

In [13]:
#Show keys with value
pd.Series(data=list2, index=list1)

a    10
b    20
c    30
dtype: int64

In [14]:
#Show keys with value in order(data,index)
pd.Series(list2, list1)

a    10
b    20
c    30
dtype: int64

In [15]:
#Create Series from array
pd.Series(arr)

0    10
1    20
2    30
dtype: int64

In [16]:
#Create Series from array
pd.Series(arr, list1)

a    10
b    20
c    30
dtype: int64

In [17]:
#Create Series from dictionary
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [18]:
#Create Series from list
pd.Series(data=list1)

0    a
1    b
2    c
dtype: object

In [19]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [21]:
#Series([data], [index])
ser1 = pd.Series([1,2,3,4], ['Philippines', 'USA', 'Finland', 'Equador'])
ser1

Philippines    1
USA            2
Finland        3
Equador        4
dtype: int64

In [23]:
ser2 = pd.Series([1,2,7,4], ['Philippines', 'USA', 'Finland', 'Brazil'])
ser2

Philippines    1
USA            2
Finland        7
Brazil         4
dtype: int64

In [24]:
ser1['Finland']

3

In [28]:
ser2['Philippines']

1

In [30]:
ser3 = pd.Series(data=list1)
ser3

0    a
1    b
2    c
dtype: object

In [31]:
ser3[1]

'b'

In [34]:
ser = ser1 + ser2
ser

Brazil          NaN
Equador         NaN
Finland        10.0
Philippines     2.0
USA             4.0
dtype: float64